<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sum of two Numbers</title>
           
</head>
<body ng-app = 'app'>
	<h3>Sum of two Numbers</h3>
	<p>First Number:
    	<input type="number" ng-model="firstNumber" placeholder="enter first number"/>
  	</p>
	<p>Second Number:
    	<input type="number" ng-model="secondNumber" placeholder="enter second number"/>
  	</p>

	<p>Sum of two Numbers:
    	<input type="text" ng-value="firstNumber + secondNumber" disabled/>
  	</p>
  	
	<script src="libs/angular.min.js"></script>	
	<script src="app/app.js"></script>
</body>
</html>